<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- wrap -->
  <div id = "wrap">
    <%= render 'shared/nav' %>
    <div class = "container">
      <div class = "row">
        <%= yield %>
      </div>
    </div>
  </div>
<!-- end of wrap -->

  <div class="footer text-center">
    <%= render 'shared/footer' %>
  </div>

</body>
</html>
